<div class="center2">
  <div id="clearance" class="sign-up">
    <h2><%= t(".title") %></h2>

    <%= form_for @user , html: {class: 'ui form'} do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="field">
      <button class="ui button" type="submit">Sign Up</button>
    </div>

  
    <% end %>
  </div>
</div>


<!-- <form class="ui form" action = "/user" method = "post">
  <div class="field">
    <label>First Name</label>
    <input type="email" name="user[email]" placeholder="email">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="password" name="user[password]" placeholder="password">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button> -->
<!-- </form> -->
